body {
  margin: 0;
}

main {
  margin: 5% 5% 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.gallery {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 30px;
}

.gallery-item {
  width: 49%;
  height: auto;
  margin-bottom: 30px;
}

header {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin-left: 5%;
  margin-bottom: 100px;
  height: 60vh;
  font-size: 30px;
  line-height: 140%;
  font-family: Times New Roman, Georgia, Arial, Helvetica, sans-serif;
}

.hiddencam {
  padding-bottom: 10px;
  position: relative;
  width: 450px;
}

.hiddencam video {
  width: 100%;
}

.hiddencam p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  position: absolute;
  top: 163px;
  left: 8px;
}

img {
  width: 100%;
}

figure {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

video {
  display: inline-block;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

footer {
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  font-family: Times New Roman, Georgia, Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
}

.caption {
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  font-family: Times New Roman, Georgia, Arial, Helvetica, sans-serif;
  padding: 10px;
}

.work {
  margin-bottom: 30px;
}


p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

nav {
  margin: 5%;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: Times New Roman, Georgia, Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  }
  
li {
  display: inline-block;
  padding-right: 10px;
  }


  @media screen and (max-width: 480px) {
    .hiddencam {
      width: 300px;
    }

    header {
      display: flex;
      flex-direction: column;
      margin-left: 5%;
      margin-bottom: 100px;
      font-size: 24px;
      line-height: 140%;
      font-family: Times New Roman, Georgia, Arial, Helvetica, sans-serif;
    }

  }